@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap');

/*.App {
  text-align: center;
}*/

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Navigation */
nav {
  margin-top: 30px;
}
nav ul {
  display: flex;
  justify-content: flex-end;
}
nav li {
  list-style: none;
}
nav li a {
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  text-decoration: none;
  display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
  padding: 23px;
}

div p {
  font-size: 20px;
  
}

a:hover{
  border-bottom: 3px solid  #F3C13F;
}

/* Logo */
.logo {
  position: absolute;
  width: 200px;
  height: 140px;
  left: 40px;
  top: 10px;
}

/* login */
.container-welcome {
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  background: #FEFDFF;
  height: 450px;
  width: 500px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.welcome p {
  margin-bottom: 60px;
  font-size: 30px;
  line-height: 59px;
}

.input-login {
  border: none;
  border-bottom:1px solid black;
  width: 100%;
  margin-bottom:60px;
  outline: none;
}
.input-login::placeholder {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}
.btn-login {
  background-color: #F3C13F;
  border-radius: 10px;
  color: white;
  border:none;
  width: 50%;
  height: 35%;
  margin-left: 25%;
  margin-right: 25%;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
}

/* form create user */

.container-users {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  flex-direction: column;
  margin-top: 170px;
}

.createUser {
  background-color: #F3F0F0;
  width: 350px;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  
}
.input-createUser {
  width: 100%;
  border: none;
  margin-top:15px;
  outline: #F3C13F;
  border-radius: 3px;
  height: 40px;
}
.btn-createUser {
  margin-top: 40px;
  background-color: #F3C13F;
  border-radius: 10px;
  color: white;
  border:none;
  width: 50%;
  height: 20%;
  margin-left: 25%;
  margin-right: 25%;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
}

.createNewUser{
  align-self: flex-start;
  margin-left: 47px;
}

.input-createUser::placeholder {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

.select-css {
  width: 100%;
  border: none;
  margin-top:15px;
  outline: #F3C13F;
  border-radius: 3px;
  height: 40px;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

/*table*/
.containerTable {
  margin-top: 20px;
  width: 90%;
  display: flex;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  
}
table {
  font-family: 'Raleway', sans-serif;
  background-color: #F3F0F0;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 100px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/*botones con icono*/
.btn-update{
  border: none;
  cursor: pointer;
  color: #F3C13F;
  background-color: transparent;
  font-size: 20px;
  padding-right: 10px;
}

.btn-delete{
  border: none;
  cursor: pointer;
  color: #DB3535;
  background-color: transparent;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}


/*modal update*/

.modal {
  background-color: rgba(0,0,0,.6);
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContenido {
  background-color: white;
  position: relative;
  width:450px;
  height: 450px;
  padding: 10px 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoModal {
  width: 100px;
}

.input-updateUser{
  border: none;
  border-bottom:1px solid black;
  width: 80%;
  margin-left:10%;
  margin-bottom:30px;
  outline: none;
}
.select-updateUser {
  border: none;
  width: 80%;
  margin-left:10%;
  margin-bottom:30px;
  outline: none;
  background-color: #eeece3;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
}
.btn-updateUser {
  margin-top: 20px;
  background-color: #F3C13F;
  border-radius: 8px;
  color: white;
  border:none;
  width: 35%;
  height: 20%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
}
.btn-updateCancel {
  margin-top: 20px;
  background-color: #DB3535;
  border-radius: 8px;
  color: white;
  border:none;
  width: 35%;
  height: 20%;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
}

/*modal delete*/

.modalDelete {
  background-color: rgba(0,0,0,.6);
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContentDelete {
  background-color: white;
  position: relative;
  width:450px;
  height: 250px;
  padding: 10px 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btns-delete{
  width: 90%;
  height: 150px;
}

.btn-deleteUser{
  margin-top: 20px;
  background-color: #F3C13F;
  border-radius: 8px;
  color: white;
  border:none;
  width: 35%;
  height: 35%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
}
.btn-deleteCancel {
  margin-top: 20px;
  background-color: #DB3535;
  border-radius: 8px;
  color: white;
  border:none;
  width: 35%;
  height: 35%;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
}


/*create product*/

.createNewProduct{
  margin-left: 60px;
  margin-top: 30px;
}

.btnCreate{
  background-color: #F3C13F;
  border-radius: 7px;
  color: white;
  border:none;
  width: 150px;
  height: 40px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
}

/*modal create product*/

.modalCreateProduct{
  background-color: rgba(0,0,0,.6);
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContentProduct{
  background-color: white;
  position: relative;
  width:450px;
  height: 450px;
  padding: 10px 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputCreateProduct{
  border: none;
  border-bottom:1px solid black;
  width: 80%;
  margin-left:10%;
  margin-bottom:30px;
  outline: none;
  font-family: 'Raleway', sans-serif;
}
.selectCreateProduct {
  border: none;
  width: 80%;
  margin-left:10%;
  margin-bottom:30px;
  outline: none;
  background-color: #eeece3;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

.inputFile{
  margin-left: 45px;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
}

.btnCreateProduct{
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #F3C13F;
  border-radius: 8px;
  color: white;
  border:none;
  width: 35%;
  height: 20%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
}

.btnCreateCancel{
  margin-top: 5px;
  background-color: #DB3535;
  border-radius: 8px;
  color: white;
  border:none;
  width: 35%;
  height: 20%;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  margin-bottom: 10px;
}

/*card products*/
.sectionOrders{
  display: flex;
  width: 90%;
  margin: auto;
  height: 650px;
}
.divProducts{
  width: 50%;
  height: 1200px;
}

.divBtnsOrder{
  margin-top: 0px;
  display: flex;
  justify-content: center;
}
.showBreakfasts{
  width: 180px;
  height: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #F3C13F;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.showLunches{
  width: 180px;
  height: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #EB5B30;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 18px;
  font-weight: bold; 
}


.nameClient{
  font-weight: bold;
  font-size: 18px;
  margin-left: 20px;
  padding-top: 15px;
}

.infoProduct{
  font-weight: lighter;
}

.btnAddOrder{
  background-color: #F3C13F;
  border: none;
  width: 50%;
  margin-left: 25%;
  height: 40px;
  color: white;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.containerCard{
  background-color: violet;
  width: 100%;
}
.containerImage{
  width: 100%;
  display: flex;
}
.card{
  margin-top: 5%;
  background-color: white;
  width: 40%;
  height: 320px;
  margin-right: 7%;
  border-radius: 5px;
  float: left;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.imageProduct{
  width: 150px;
  height: 150px;
  margin-left: 25%;
  margin-top: 10px;
}

/* card to order */
.divOrderCart{
  background-color: white;
  width: 50%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  height: 700px;
}

.tableCart{
  width: 90%;
}

.titleCreateOrder{
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

.inputClient{
  border: none;
  border-bottom:1px solid black;
  width: 100%;
  margin-bottom:20px;
  margin-left: 30px;
  outline: none;
}

.inputClient::placeholder {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.tableContent{
  background-color: white;
  border:"0";
}

.tableContent{border: none;}

.btnPlus{
  background-color: rgb(236, 233, 231);
  font-size: 14px;
  border-radius: 2px;
  margin-right: 10px;
  padding: 5px;
  border: none;
}

.btnMinus{
  background-color: rgb(236, 233, 231);
  font-size: 14px;
  border-radius: 2px;
  padding: 5px;
  margin-left: 10px;
  border: none;
}

.btnX{
  background-color: white;
  font-size: 22px;
  padding: 5px;
  margin-left: 10px;
  border: none;
  color: #DB3535;
}

.btnCreateOrder{
  background-color: #F3C13F;
  border-radius: 7px;
  color: white;
  border:none;
  width: 40%;
  height: 40px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 30%;
}

.totalPriceCart{
  margin-left: 30px;
  font-weight: bold;
}

/*orders card */
.viewAllOrders{
  background-color: #EB5B30;
  border-radius: 7px;
  color: white;
  border:none;
  width: 40%;
  height: 40px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  margin-top: 70px;
  margin-left: 50%;
}

.containerOrders {
  width: 100%;
}

.cardOrders {
  background-color: white;
  width: 21.5%;
  height: 350px;
  margin-left: 21px;
  margin-right: 29px;
  margin-bottom: 50px;
  float: left;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.btnBack{
  background-color: #F3C13F;
  border-radius: 7px;
  color: white;
  border:none;
  width: 10%;
  height: 40px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}

.status{
  margin-left: 20px;
  font-size: 18px;
  font-weight: bold;
}

.spanStatus {
  font-weight: lighter;
}

.btn-check{
  border: none;
  cursor: pointer;
  color: #36c260;
  background-color: transparent;
  font-size: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.btnsOrder{
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.modalUpdateStatus{
  background-color: rgba(0,0,0,.4);
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.txtUpdateStatus{
  text-align: center;
}

/* status orders */

.containerStatusOrders{
  width: 90%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  margin-top: 50px;
}

.divOrders{
  background-color: #F9F3F3;
  width: 32%;
  height: 670px;
  border-radius: 10px;
}

.txtPending{
  font-weight: bold;
  text-align: center;
  color: #EB5B30;
}

.txtDelivering{
  font-weight: bold;
  text-align: center;
  color:#F3C13F;
}

.txtDelivered{
  font-weight: bold;
  text-align: center;
  color: #36c260;
}

.cardStatusOrder{
  background-color: white;
  width: 90%;
  margin-left: 5%;
  height: 250px;
}

.btnMove{
  background-color: #F3C13F;
  border-radius: 7px;
  color: white;
  border:none;
  width: 40%;
  height: 40px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 30%;
}

.tableOrder{
  margin-bottom: 40px;
}

.hideOrder{
  margin-top: 35px;
  margin-left: 80%;
}